<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.md.persistence.ProductMapper">
    <resultMap type="product" id="productResultMap" autoMapping="true">
        <id property="productid" column="ID" />
    </resultMap>

  <select id="getById" resultType="product">
    SELECT productid, name, actualid FROM CRM_PRODUCT U
	<where>
	U.productid = #{id}
	</where>
  </select>
  
    <select id="getProducts" resultMap="productResultMap">
        SELECT P.PRODUCTID ID, P.NAME, P.ACTUALID 
          FROM V_SPO_PRODUCT P
         WHERE P.IS_ACTIVE = 1 and SPO_ENABLE = 1
         ORDER BY P.NAME
    </select>
</mapper>